.search-bar {
    display: block;
    margin: 1rem auto;
    padding: 1rem 1rem;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: var(--button-radius);
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
}